{% extends 'base.html' %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          Tambah Pengguna
        </div>
        <div class="card-body">
          {% for message in messages %}
            {% if message.tags == 'success' %}
            <div class="alert alert-success">{{ message }}</div>
            {% else %}
          <div class="alert alert-danger">{{ message }}</div>
            {% endif %}
          {% endfor %}
          <form action="{% url 'signup' %}" method="post" accept-charset="utf-8">
            {% csrf_token %}
            
            {{ form.as_p }}
            
            <button type="submit" class="btn btn-primary">Kirim</button>
            <a class="btn btn-danger" href="{% url 'users' %}">Kembali</a>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}